<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's Play</title>
  <!-- <script defer src ="http://18.222.217.228:3000/socket.io/socket.io.js "></script> -->
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">

  <link href="https://getbootstrap.com/docs/4.0/assets/css/docs.min.css" rel="stylesheet">

    <!-- Favicons -->
  <meta name="theme-color" content="#563d7c">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <style>
      .bd-toc-link {
            display: block !important;
            padding: .25rem 1.5rem !important;
            font-weight: 500 !important;
      }
      hr {
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
            border: 0 !important;
            border-top: 1px solid rgba(0,0,0,.1) !important;
            box-sizing: content-box !important;
            height: 0 !important;
            overflow: visible !important;
            display: block !important;
            unicode-bidi: isolate !important;
            margin-block-start: 0.5em !important;
            margin-block-end: 0.5em !important;
            margin-inline-start: auto !important;
            margin-inline-end: auto !important;
            background : none !important;
      }
      html {
            position: relative;
            min-height: 100%;
      }

      body {
            margin-bottom: 60px; /* Margin bottom by footer height */
      }

      /* set entire body that is webpage */
    body{
      background: #383a3d;
    }
    /* set form background colour*/
    form{
      background: #fff;
    }
/* set padding and size of th form */
    .form-container{
      border-radius: 10px;
      padding: 30px;
    }

    .form-elegant .font-small {
        font-size: 0.8rem; }

    .form-elegant .z-depth-1a {
        -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
        box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
    .form-elegant .z-depth-1-half,
      .form-elegant .btn:hover {
          -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
          box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

  </style> 
</head>
<body class="bg-light" style="height: 100%;">
  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #7952b3; color: black;">
          <div >
            <span style="color: #f2f2f2"><b>Let's Play</b></span>
          </div>
  </header>
  <div class ="container">
  <div class="py-5 text-center">
        <h2></h2>
        <p class="lead"></p>
  </div>
  <div class="row" >
    <div class="col-md-4 order-md-2 mb-4" id="room-controller">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Rooms</span>
        <span class="badge badge-secondary badge-pill"><%= roomCount %></span>
      </h4>
      <ul class="list-group mb-3">
      <%  Object.keys(rooms).forEach(room => {  %>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"><%= room %></h6>
            <small class="text-muted"><%= userCount[room] %>/<%= rooms[room].players %></small>
          </div>
          <% if (userCount[room] <= rooms[room].players-1) { %>
            <medium class="text-muted"><a href="/<%= room %>">Join</a></medium>
          <%} else { %>
            <medium class="text-muted"> Room Full </medium>
            <% } %>
        </li>
      <% }) %>
      </ul>
    </div>
    <div class="col-md-8 order-md-1" >
      <section class="container-fluid">
      <section class="row justify-content-center">
        <form class="form-container" style="width:100%;"action="/room" method="POST">
        <div class="form-group">
          <h4 class="text-center font-weight-bold"> Virtual Room </h4>
          <!-- <label for="roomName">Name</label> -->
          <input type="text" class="form-control" name="room" id="room" placeholder="Enter Room Name" required="true">
        </div>

        <div class="form-group">
          <!-- <label for="players">Number Of Players</label> -->
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required="true">
        </div>
        <div class="form-group">
          <!-- <label for="players">Number Of Players</label> -->
          <select class="form-control custom-select" name = "players" id ="players">
              <option selected> Number Of Players</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="10">10</option>
          </select>
        </div>
        <div class="form-group">
          <!-- <label for="players">Number Of Players</label> -->
          <select class="form-control custom-select" name ="timer" id ="timer">
              <option selected>Timer(seconds)</option>
              <option value="30">30</option>
              <option value="45">45</option>
              <option value="60">60</option>
              <option value="75">75</option>
              <option value="90">90</option>
              <option value="120">120</option>
          </select>
        </div>
        <!-- > -->
        <button type="submit" class="btn btn-primary btn-block btn-rounded z-depth-1a">New Room</button>
        </form>
      </section>
    </section>
    </div>
  </div>
  </div>
</body>
</html>